@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center align-items-center">
    <img src="~/byu.ico" class=" mx-2" />
    <h1 class="display-4">Welcome to my Mission #5 page</h1>
    <img src="~/byu.ico" class=" mx-2" />
</div>
<h4 class="text-center">I love traveling and exploring the world</h4>
<br />
<br />

<p>
    I love traveling because it allows me to meet friends from all corners of the world. I prefer to explore the world on foot, not just through pictures. <br />
    The surprises and endless experiences of traveling keep every day fun and exciting, <br /> 
    as I never know what will happen next.
</p>
<br>

<p>
    Every summer, I make it a point to visit various countries to explore different parts of the world. Last summer, I traveled to the Netherlands, India, and Japan.<br>
    It was an incredibly fun experience, and I had the chance to reunite with some of my closest childhood friends.
</p>

<br />

<p> TEXT BLOCK 3</p>
<br />

<p>Here are some highlights of my trip</p>
<br />
<img src="~/img_4167.jpeg" height="400" />
<img src="~/img_4266.jpeg" height="400" />